h1{
  text-align: center;
  color: bold;
  font-family: courier new;
}
h2{
  justify-content: center;
  font-family: georgia;
}
p{
  justify-content: center;
  text-align: left;
  font-family: arial,sans-serif;
}